@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

*{
   margin: 0;
    padding: 0; 
}

:root{
    --primary-color: #458ff6;
    --menu-text-color: #1F1534;
}
body{
    overflow-x: hidden
}